* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: inherit;
  border: 0;
}

html {
  font-size: 12px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto", sans-serif;
  font-feature-settings: "tnum";
}

body {
  background-color: #fff;
  font-size: 12px;
}

.pageview {
  overflow: hidden;
}

.lazy {
  background: none !important;
}

ol,
ul {
  list-style: none;
}

b {
  font-weight: bold;
}

.visibility-hidden {
  visibility: hidden !important;
}

.cursor-pointer {
  cursor: pointer;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-mask-size {
  -webkit-mask-size: 100% 100%;
}

.mask-position {
  -webkit-mask-position: 0% 0%;
}

.u-select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.gallery-view-icon-next img,
.gallery-view-icon-prev img,
.carousel-icon-next img,
.carousel-icon-prev img {
  width: 25px;
  height: 25px;
  filter: drop-shadow(0 0 1px black);
}

.icon-play-video {
  position: absolute;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  cursor: pointer;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://statics.pancake.vn/web_content/30/5a/c2/93/9ec72c8ce8898050035dddbb989c950bc1faabdc1fdcc11175dea467.svg);
}

.player-btn-unmute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.player-btn-unmute>div {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  background-size: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2036%2036%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22m%2021.48%2C17.98%20c%200%2C-1.77%20-1.02%2C-3.29%20-2.5%2C-4.03%20v%202.21%20l%202.45%2C2.45%20c%20.03%2C-0.2%20.05%2C-0.41%20.05%2C-0.63%20z%20m%202.5%2C0%20c%200%2C.94%20-0.2%2C1.82%20-0.54%2C2.64%20l%201.51%2C1.51%20c%20.66%2C-1.24%201.03%2C-2.65%201.03%2C-4.15%200%2C-4.28%20-2.99%2C-7.86%20-7%2C-8.76%20v%202.05%20c%202.89%2C.86%205%2C3.54%205%2C6.71%20z%20M%209.25%2C8.98%20l%20-1.27%2C1.26%204.72%2C4.73%20H%207.98%20v%206%20H%2011.98%20l%205%2C5%20v%20-6.73%20l%204.25%2C4.25%20c%20-0.67%2C.52%20-1.42%2C.93%20-2.25%2C1.18%20v%202.06%20c%201.38%2C-0.31%202.63%2C-0.95%203.69%2C-1.81%20l%202.04%2C2.05%201.27%2C-1.27%20-9%2C-9%20-7.72%2C-7.72%20z%20m%207.72%2C.99%20-2.09%2C2.08%202.09%2C2.09%20V%209.98%20z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.d-none {
  display: none;
}

a:link,
a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}

.section-container {
  margin: auto;
}

.image-block-css {
  overflow: hidden;
}

.image-background {
  margin: 0 auto;
}

.com-button {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: transform 200ms ease-out;
  -webkit-transition: transform 200ms ease-out;
}

.com-button:active {
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
}

.button-css {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  text-align: center;
}

.button-text {
  display: table-cell;
  vertical-align: middle;
  text-align: unset;
  line-height: 1.6;
}

.text-block-css {
  display: inline-block;
  word-break: break-word;
  -webkit-background-clip: text !important;
}

.animationText span {
  display: inline-block;
}

.animationText .bar {
  position: absolute;
  height: 100%;
  width: 3px;
  background: currentColor;
  top: 0;
  right: 0;
}

.animate-word-wrapper {
  position: relative;
  overflow: hidden;
  vertical-align: top;
  transition: width 0.6s;
  text-align: start;
}

.animate-word-wrapper>span {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  font: inherit;
}

.animate-word-wrapper span i {
  font: inherit;
  font-style: initial;
  display: inline-block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.animate-word-wrapper span i.in {
  animation-name: rotate-3-in;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
}

.animate-word-wrapper span i.out {
  animation-name: rotate-3-out;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
}

.animationText .hidden {
  opacity: 0;
  z-index: -1;
}

.animationText .visible {
  opacity: 1;
  position: relative;
}

.inline {
  display: inline !important;
}

.caret-dummy {
  animation: caret-popping 1s infinite;
}

.caret {
  transform: scaleY(1.3) translateY(-3%);
}

@keyframes rotate-3-out {
  0% {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }

  100% {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
  }
}

@-webkit-keyframes rotate-3-out {
  0% {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }

  100% {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
  }
}

@keyframes rotate-3-in {
  0% {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
}

@-webkit-keyframes rotate-3-in {
  0% {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
  }
}

@keyframes caret-popping {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.gallery-view {
  overflow: hidden;
}

.gallery-view-custom-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-view-item {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.gallery-view-item.active {
  display: block;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.gallery-view-item.right {
  transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
}

.gallery-view-item.left {
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
}

.gallery-view-item.origin {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.gallery-view-item video {
  width: 100%;
  height: 100%;
  outline: 0;
  background: #000;
  object-fit: cover;
}

.gallery-view-item iframe {
  width: 100%;
  height: 100%;
}

.gallery-view-item .play-video-background {
  top: 0;
  left: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallery-controls {
  position: absolute;
}

.gallery-controls-wrap {
  display: flex;
  display: -webkit-flex;
  transition: 0.2s all;
  height: max-content;
}

.gallery-controls-wrap .gallery-controls-item {
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery-controls-item .gallery-controls-item-play-video {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  background-image: url(https://statics.pancake.vn/web_content/30/5a/c2/93/9ec72c8ce8898050035dddbb989c950bc1faabdc1fdcc11175dea467.svg);
}

.gallery-controls-item:last-child {
  margin: 0 !important;
}

.gallery-controls-item.active::after {
  background: transparent;
}

.gallery-controls-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.gallery-controls-icon-prev,
.gallery-controls-icon-next {
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
  color: #fff;
  text-shadow: black 0 0 2px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  user-select: none;
  z-index: 9;
}

.gallery-view-icon-prev {
  position: absolute;
  top: 50%;
  cursor: pointer;
  user-select: none;
  z-index: 9;
  left: 10px;
}

.gallery-view-icon-next {
  position: absolute;
  top: 50%;
  cursor: pointer;
  user-select: none;
  z-index: 9;
}

.gallery-view-icon-next .icon-next,
.gallery-controls-icon-next .control-next {
  width: 33px;
  height: 33px;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: 0% 0%;
}

.gallery-view-icon-prev .icon-prev,
.gallery-controls-icon-prev .control-prev {
  width: 33px;
  height: 33px;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: 0% 0%;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.gallery-view-icon-next img,
.gallery-view-icon-prev img {
  width: 25px;
  height: 25px;
  filter: drop-shadow(0 0 1px black);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.gallery-controls-icon-next,
.gallery-controls-icon-prev {
  width: 20px;
  height: 20px;
}

.gallery-controls-icon-next img,
.gallery-controls-icon-prev img,
.gallery-controls-icon-next .control-next,
.gallery-controls-icon-prev .control-prev {
  width: 20px;
  height: 20px;
  filter: drop-shadow(0 0 1px black);
}

@media (hover: hover) {

  .gallery-controls-icon-next:hover,
  .gallery-controls-icon-prev:hover {
    background: rgb(0, 0, 0, 0.5);
  }
}

.gallery-view-icon-next:hover img,
.gallery-view-icon-prev:hover img {
  background: rgb(0, 0, 0, 0.5);
}

.gallery-view-icon-next {
  right: 10px;
}

.gallery-view-icon-prev {
  left: 10px;
  display: none;
}

.gallery-scroll {
  display: flex;
  display: -webkit-flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.group-container {
  width: 100%;
  height: 100%;
}

.list-paragraph-container ul {
  counter-reset: needaname;
}

.list-paragraph-container li {
  position: relative;
  counter-increment: needaname;
  word-break: break-word;
}

.list-paragraph-container li::before {
  position: absolute;
  left: 0;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.com-notify {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.notify-container {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.notify-info {
  margin-left: 10px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
}

.notify-title {
  font-size: 13px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notify-content {
  font-size: 12px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notify-time {
  font-size: 11px;
}

.notify-image img {
  border-radius: 50%;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  width: 53px;
  height: 53px;
  pointer-events: none;
  top: calc((100% - 53px) / 2);
  left: calc((100% - 53px) / 2);
  object-fit: cover;
}

.line-css {
  padding: 8px 0;
}

.line-container {
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
}

.countdown-wrapper {
  display: flex;
  display: -webkit-flex;
  pointer-events: none;
  font-size: 20px;
}

.countdown-message {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown-item {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  font: inherit;
  align-items: center;
  -webkit-align-items: center;
  width: calc((100% - 40px) / 4);
  height: calc(100% - 10px);
  margin: 5px;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.countdown-item .text {
  font-size: 0.8em;
}

.input-number-quantity-css {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  user-select: none;
}

.input-number-quantity-css .minus,
.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}

.input-number-quantity-css .minus {
  border-right: inherit;
}

.input-number-quantity-css .plus {
  border-left: inherit;
}

.input-number-quantity-css input {
  text-align: center;
  background: transparent;
  color: inherit;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 0;
}

.input-number-quantity-css input::placeholder {
  color: #979797;
  -webkit-text-fill-color: #979797;
}

.input-number-quantity-css .input::-webkit-outer-spin-button,
.input-number-quantity-css .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number-quantity-css input[type="number"] {
  -moz-appearance: textfield;
}

.field-error {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 30px;
}

.field-error img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
}

.input-css {
  overflow: hidden;
}

.input-css input {
  background: transparent;
  color: inherit;
  padding-left: 10px;
  border-radius: 0;
}

.input-datetime {
  overflow: hidden;
}

.input-datetime input {
  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

.input-datetime .input-datetime-placeholder {
  position: absolute;
  top: 0;
  padding-left: 12px;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  z-index: -1;
}

.input-file {
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
}

.input-file .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input-file input[type="file"] {
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
}

.textarea-css {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.textarea-css textarea {
  background: transparent;
  padding-top: 6px;
  padding-bottom: 0;
  color: inherit;
  padding-left: 10px;
  border-radius: 0;
}

.com-checkbox-group {
  min-height: 40px;
}

.checkbox-group-css {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 10px;
  min-height: 40px;
}

.checkbox-group-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.checkbox-group-input {
  margin-right: 10px;
  width: 13px;
  height: 13px;
  min-width: 13px;
  min-height: 13px;
}

.com-radio {
  min-height: 40px;
  height: auto !important;
}

.radio-css {
  min-height: 40px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.radio-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  border-radius: 5px;
  padding-left: 10px;
}

.radio-input {
  margin-right: 10px;
  width: 13px;
  height: 13px;
  min-width: 13px;
  min-height: 13px;
}

.select-css {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.select-css option:first-child {
  color: #979797;
}

.chevron {
  pointer-events: none;
  color: #979797;
  position: absolute;
  right: 0;
  width: 26px;
  height: 100%;
  top: 0;
}

.chevron .icon {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  border-radius: 100px;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
}

.chevron .icon::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.select-css select {
  background: transparent;
  padding-right: 26px;
  padding-left: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  color: #979797;
}

.select-css select.select {
  color: inherit;
}

.address-css {
  overflow: hidden;
}

.address-css .select-container {
  color: inherit;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.address-css .select-field {
  height: 100%;
  flex: 1;
  position: relative;
}

.address-css select {
  background: transparent;
  padding-left: 10px;
  padding-right: 26px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  height: 100%;
  color: #979797;
}

.address-css select.select {
  color: inherit;
}

.address-css select option:first-child {
  color: #979797;
}

.address-column {
  background: transparent !important;
  border-width: 0 !important;
}

.address-column .select-column {
  flex-direction: column;
  border-radius: inherit !important;
  border-color: inherit !important;
  border-style: inherit !important;
}

.address-column .select-column .select-field {
  width: 100%;
  border-radius: inherit;
  border-width: 1px;
  border-color: inherit;
  border-style: inherit;
  overflow: hidden;
}

.icon-container {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
}

.loader {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader::after,
.loader::before {
  content: "";
  background: white;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #333 #333 transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}

.button-loader,
.button-loader:before,
.button-loader:after {
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.button-loader {
  color: #fff;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  display: none;
  top: -17px;
}

.button-loader:before,
.button-loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.button-loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.button-loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.popup-wrapper {
  top: 0;
  left: 0;
}

.popup-background {
  overflow: hidden;
}

.popup-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
}

.popup-center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.popup-top-left {
  top: 0;
  left: 0;
}

.popup-top-center {
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
}

.popup-top-right {
  top: 0;
  right: 0;
}

.popup-center-left {
  left: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
}

.popup-center-right {
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
}

.popup-bottom-left {
  bottom: 0;
  left: 0;
}

.popup-bottom-center {
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
}

.popup-bottom-right {
  bottom: 0;
  right: 0;
}

.overlay {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
}

.cart-quantity-css {
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
}

.cart-quantity-css .minus {
  border-right: inherit;
}

.cart-quantity-css .plus {
  border-left: inherit;
}

.cart-quantity-css input {
  text-align: center;
  background: transparent;
  color: inherit;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;
  -moz-appearance: textfield;
}

.cart-quantity-css input::-webkit-outer-spin-button,
.cart-quantity-css input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart-quantity-css .minus,
.cart-quantity-css .plus {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  width: 40px;
}

.product-attr-selected {
  top: 0;
  left: 0;
  overflow: hidden;
}

.lightbox-btn-close {
  background-color: #a8a8a8;
  width: 21px;
  height: 21px;
  position: absolute;
  cursor: pointer;
}

.lightbox-btn-close>span {
  position: absolute;
  z-index: 9999;
  width: 14px;
  height: 14px;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: 0% 0%;
  background: #fff;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSdub25lJyAgd2lkdGg9JzE0JyBoZWlnaHQ9JzE0JyB2aWV3Qm94PScwIDAgMTQgMTQnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTEyLjU5IDBMNyA1LjU5TDEuNDEgMEwwIDEuNDFMNS41OSA3TDAgMTIuNTlMMS40MSAxNEw3IDguNDFMMTIuNTkgMTRMMTQgMTIuNTlMOC40MSA3TDE0IDEuNDFMMTIuNTkgMFonIGZpbGw9JyMyRTNBNTknLz48L3N2Zz4=);
}

.lightbox-image,
.lightbox-video,
.lightbox-iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
}

.lightbox-iframe {
  width: 100%;
  height: 100%;
}

.lightbox-backdrop {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000000;
}

.w-alert-message-wrapper {
  position: fixed;
  top: 15px;
  z-index: 999999;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  --transform-translateX: -50%;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 20px 0px #808080a8;
  box-shadow: 1px 1px 20px 0px #808080a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.w-alert-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 10px 5px 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.w-alert-message-wrapper .left-sidebar {
  width: 3px;
  border-radius: 5px;
  margin: 5px;
}

.w-alert-message-wrapper .left-sidebar.info {
  background: #297bc3;
}

.w-alert-message-wrapper .left-sidebar.warning {
  background: #f0a92d;
}

.w-alert-message-wrapper .left-sidebar.success {
  background: #34a779;
}

.w-alert-message-wrapper .left-sidebar.error {
  background: #f53a5d;
}

.w-alert-message .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 0px;
  margin-right: 6px;
}

.w-alert-message span.close-icon {
  margin-left: 15px;
  margin-right: 0px;
  color: #80808085;
  cursor: pointer;
}

.login-popup-wrapper .backdrop-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99;
}

.login-popup-wrapper .popup-default-login {
  position: fixed;
  top: 45%;
  left: 50%;
  width: 400px;
  height: 160px;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  max-width: calc(100% - 50px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 10px;
}

.login-popup-wrapper .popup-default-login .popup-login-title {
  background-color: rgba(6, 21, 40, 0.05);
  color: #000;
  padding: 12px 15px;
  font-weight: 600;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login-popup-wrapper .popup-default-login .popup-login-content {
  font-size: 14px;
  padding: 0 20px;
  margin-top: 10px;
  line-height: 18px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.login-popup-wrapper .popup-default-login .popup-login-btn {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 10px;
  margin: 0 auto;
  padding: 10px 0;
  border: none;
  width: 80px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  background-color: #e6e6e6;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.quick-alo-phone {
  position: fixed;
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  -moz-transition: visibility .5s;
  -o-transition: visibility .5s;
  transition: visibility .5s;
  right: 150px;
  top: 30px;
}

.phone {
  background: #eee;
  width: 157px;
  height: 30px;
  position: relative;
  overflow: hidden;
  background-size: 40px;
  border-radius: 50px;
  border: solid 1px #ccc;
  left: 85px;
  top: 43%;
}

.number-phone {
  font-size: 16px;
  color: red;
  line-height: 10px;
  font-weight: bold;
  padding-left: 40px;
  margin: 10px;
}

.quick-alo-ph-circle {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  border: 2px solid #bfebfc 9;
  opacity: .1;
  -webkit-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.quick-alo-phone.quick-alo-active .quick-alo-ph-circle {
  -webkit-animation: quick-alo-circle-anim 1.1s infinite ease-in-out !important;
  -moz-animation: quick-alo-circle-anim 1.1s infinite ease-in-out !important;
  -ms-animation: quick-alo-circle-anim 1.1s infinite ease-in-out !important;
  -o-animation: quick-alo-circle-anim 1.1s infinite ease-in-out !important;
  animation: quick-alo-circle-anim 1.1s infinite ease-in-out !important;
}

.quick-alo-phone.quick-alo-static .quick-alo-ph-circle {
  -webkit-animation: quick-alo-circle-anim 2.2s infinite ease-in-out !important;
  -moz-animation: quick-alo-circle-anim 2.2s infinite ease-in-out !important;
  -ms-animation: quick-alo-circle-anim 2.2s infinite ease-in-out !important;
  -o-animation: quick-alo-circle-anim 2.2s infinite ease-in-out !important;
  animation: quick-alo-circle-anim 2.2s infinite ease-in-out !important;
}

.quick-alo-phone.quick-alo-hover .quick-alo-ph-circle,
.quick-alo-phone:hover .quick-alo-ph-circle {
  border-color: #00aff2;
  opacity: .5;
}

.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-circle,
.quick-alo-phone.quick-alo-green:hover .quick-alo-ph-circle {
  border-color: #75eb50;
  border-color: #baf5a7 9;
  opacity: .5;
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-circle {
  border-color: #00aff2;
  border-color: #bfebfc 9;
  opacity: .5;
}

.quick-alo-phone.quick-alo-gray.quick-alo-hover .quick-alo-ph-circle,
.quick-alo-phone.quick-alo-gray:hover .quick-alo-ph-circle {
  border-color: #ccc;
  opacity: .5;
}

.quick-alo-phone .quick-alo-ph-circle {
  border-color: #75eb50;
  opacity: .5;
}

.quick-alo-ph-circle-fill {
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .1;
  -webkit-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.quick-alo-phone .quick-alo-ph-circle-fill {
  -webkit-animation: quick-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
  -moz-animation: quick-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
  -ms-animation: quick-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
  -o-animation: quick-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
  animation: quick-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
}

.quick-alo-phone.quick-alo-static .quick-alo-ph-circle-fill {
  -webkit-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
  -moz-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
  -ms-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
  -o-animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
  animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
  opacity: 0 !important;
}

.quick-alo-phone.quick-alo-hover .quick-alo-ph-circle-fill,
.quick-alo-phone:hover .quick-alo-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.5);
  background-color: #00aff2 9;
  opacity: .75 !important;
}

.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-circle-fill,
.quick-alo-phone.quick-alo-green:hover .quick-alo-ph-circle-fill {
  background-color: rgba(117, 235, 80, 0.5);
  background-color: #baf5a7 9;
  opacity: .75 !important;
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.5);
  background-color: #a6e3fa 9;
  opacity: .75 !important;
}

.quick-alo-phone.quick-alo-gray.quick-alo-hover .quick-alo-ph-circle-fill,
.quick-alo-phone.quick-alo-gray:hover .quick-alo-ph-circle-fill {
  background-color: rgba(204, 204, 204, 0.5);
  background-color: #000 9;
  opacity: .75 !important;
}

.quick-alo-phone.quick-alo-gray .quick-alo-ph-circle-fill {
  background-color: rgba(117, 235, 80, 0.5);
  opacity: .75 !important;
}

.quick-alo-ph-img-circle {
  width: 20px;
  height: 20px;
  top: 90px;
  left: 90px;
  position: absolute;
  background: rgba(30, 30, 30, 0.1) url("http://i.imgur.com/sM1nubF.png") no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
  -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.quick-alo-phone.quick-alo-active .quick-alo-ph-img-circle {
  -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out !important;
  -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out !important;
  -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out !important;
  -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out !important;
  animation: quick-alo-circle-img-anim 1s infinite ease-in-out !important;
}

.quick-alo-phone.quick-alo-static .quick-alo-ph-img-circle {
  -webkit-animation: quick-alo-circle-img-anim 0s infinite ease-in-out !important;
  -moz-animation: quick-alo-circle-img-anim 0s infinite ease-in-out !important;
  -ms-animation: quick-alo-circle-img-anim 0s infinite ease-in-out !important;
  -o-animation: quick-alo-circle-img-anim 0s infinite ease-in-out !important;
  animation: quick-alo-circle-img-anim 0s infinite ease-in-out !important;
}

.quick-alo-phone.quick-alo-hover .quick-alo-ph-img-circle,
.quick-alo-phone:hover .quick-alo-ph-img-circle {
  background-color: #00aff2;
}

.quick-alo-phone.quick-alo-green.quick-alo-hover .quick-alo-ph-img-circle,
.quick-alo-phone.quick-alo-green:hover .quick-alo-ph-img-circle {
  background-color: #75eb50;
  background-color: #75eb50 9;
}

.quick-alo-phone.quick-alo-green .quick-alo-ph-img-circle {
  background-color: #00aff2;
  background-color: #00aff2 9;
}

.quick-alo-phone.quick-alo-gray.quick-alo-hover .quick-alo-ph-img-circle,
.quick-alo-phone.quick-alo-gray:hover .quick-alo-ph-img-circle {
  background-color: #ccc;
}

.quick-alo-phone.quick-alo-gray .quick-alo-ph-img-circle {
  background-color: #75eb50;
}

@-moz-keyframes quick-alo-circle-anim {
  0% {
    -moz-transform: rotate(0) scale(.5) skew(1deg);
    opacity: .1;
    -moz-opacity: .1;
    -webkit-opacity: .1;
    -o-opacity: .1;
  }

  30% {
    -moz-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: .5;
  }

  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg);
    opacity: .6;
    -moz-opacity: .6;
    -webkit-opacity: .6;
    -o-opacity: .1;
  }
}

@-webkit-keyframes quick-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(.5) skew(1deg);
    -webkit-opacity: .1;
  }

  30% {
    -webkit-transform: rotate(0) scale(.7) skew(1deg);
    -webkit-opacity: .5;
  }

  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-o-keyframes quick-alo-circle-anim {
  0% {
    -o-transform: rotate(0) kscale(.5) skew(1deg);
    -o-opacity: .1;
  }

  30% {
    -o-transform: rotate(0) scale(.7) skew(1deg);
    -o-opacity: .5;
  }

  100% {
    -o-transform: rotate(0) scale(1) skew(1deg);
    -o-opacity: .1;
  }
}

@-moz-keyframes quick-alo-circle-fill-anim {
  0% {
    -moz-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2;
  }

  50% {
    -moz-transform: rotate(0) -moz-scale(1) skew(1deg);
    opacity: .2;
  }

  100% {
    -moz-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes quick-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2;
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }

  100% {
    -webkit-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2;
  }
}

@-o-keyframes quick-alo-circle-fill-anim {
  0% {
    -o-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2;
  }

  50% {
    -o-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }

  100% {
    -o-transform: rotate(0) scale(.7) skew(1deg);
    opacity: .2;
  }
}

@-moz-keyframes quick-alo-circle-img-anim {
  10% {
    transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    -moz-transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes quick-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

@-o-keyframes quick-alo-circle-img-anim {
  0% {
    -o-transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    -o-transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    -o-transform: rotate(0) scale(1) skew(1deg);
  }
}

.waviy {
  /* position: relative;
	-webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2)); */
  font-size: 16px;
}

.waviy span {
  /* font-family: 'Alfa Slab One', cursive; */
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-10px)
  }
}

#w-i6wazw42 .button-css, #w-s7qtso32 .button-css, #w-eepmd81q .button-css {
  animation: zoomInZoomOut;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes zoomInZoomOut {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

#submit-form {
  background-color: transparent;
  color: #fff;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  max-width: 1020px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
  margin-top: -24px;
  text-align: end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.p-1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #113D6B;
  text-align: center;
  padding-bottom: 10px;
}

.p-2 {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #788AA2;
  padding-bottom: 10px;
}

.center {
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}